bin/
dev/
generated/
lib/
phpserver/
pub/
setup/
var/
vendor/
auth.json.sample
CHANGELOG.md
composer.json
composer.lock
COPYING.txt
grunt-config.json.sample
Gruntfile.js.sample
index.php
LICENSE.txt
LICENSE_AFL.txt
nginx.conf.sample
package.json.sample
SECURITY.md
app/code/etc/env.php
app/code/etc/config.php 
